p{color:red;}
a{color:blue;}
text{style:em;}

body {background-image:url("http://www.livrigames.com/wallpaper/red/red-stripe-on-white-background-wallpaper-free-high-definition-wallpaper-red-hd-definitionstripes-background-vertical-stripe-horizontal-white-free-high-definition.jpg");}
body {background-color: blue;}