h1{
background-color:#A4C3C9;
border-radius: 10px;
border=2px solid;
border-color:#0F79A3;
padding:40px;
font-size:40px; 
text-shadow:shadow;~
color:black;
font-family="Arial";
text-transform: capitalize;
text-align:center;

}
h2{
font-size:18px; 
color:black;
font-family="Arial";
text-decoration:underline;
text-transform: capitalize ;
text-align: center;

}
h3{
font-size:10px; 
color:black;
font-family="Arial";
text-decoration:none;
text-align: center;
text-transform: capitalize 
}
p{font-size:14px; 
	color:black;
	font-family="Arial"; 
	text-decoration:none;
	text-align: right;
	}
tr{
text-shadowing;~
}


