
h1{
background: #AFC7D7;
border-radius: 5px;
border:solid;
border-width: 0px 0px 0px 20px #3C85B5;
border-top-width:1px;
border-bottom-width:1px;
border-left-width:1px;
border-right-width:1px;
border-transparent:;
padding:28px;
margin-top: -5px;
margin-left:-5px;
margin-right:-5px;
border-radius:5px;
border-color:#3C85B5;
box-shadow: 0px 24px 50px 0px #3C85B5;
font-size:40px; 
text-shadow: -4px 4px 4px #999;
text-color:black;
font-family="Arial, Helvetica, sans-serif";
font-size:55px;
text-transform: capitalize;
text-align:center;
}

h2{
font-size:18px; 
color:black;
font-family="Arial, Helvetica, sans-serif";
text-decoration:underline;
text-transform: capitalize ;
text-align: center;
padding-bottom:0px ;
margin-top: 60px;

}
h3{
font-size:12px; 
color:black;
font-family="Arial, Helvetica, sans-serif";
text-decoration:none;
text-align: center;
text-transform: capitalize;
padding-bottom:0px; 
margin-top: -10px;
}
p{font-size:16px; 
	color:black;
	font-family="Arial, Helvetica, sans-serif"; 
	text-decoration:none;
	text-align:left;
	margin-left: 100px;
	margin-top:28px;
	}
table{
float:left;
margin:20px;
margin-left:100px;
margin-top: -40px;
background:#AFC7D7;
border-radius: 10px;
border:solid;
border-width: px 0px 0px 20px #3C85B5;
border-top-width:1px;
border-bottom-width:1px;
border-left-width:1px;
border-right-width:1px;
padding:0px;
border-radius: 10px;
border-color:#3C85B5;
box-shadow:-4px 4px 4px 4px #999
font-size=14px; 
text-shadow: -4px 4px 4px #999;
text-color:black;
font-family="Arial, Helvetica, sans-serif";
}
