h1{
font-size:30px; 
color:black;
font-family="Arial";
}
h2{
font-size:20px; 
color:black;
font-family="Arial";
text-decoration:underline;
}
head{font-size:8px;}
p{font-size:14px; 
	color:black;
	font-family="Arial"; 
	text-decoration:none;}


